<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466675687796-2uhqjq01kibqrjh1gshfno242sisrq14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466675687796-2uhqjq01kibqrjh1gshfno242sisrq14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466675687796-74ue4433qcvfurrjesqvefe88fldub99.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKuZWtnGi3kM3uVqM74PjeWhUM-1jZ14Y</string>
	<key>GCM_SENDER_ID</key>
	<string>466675687796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swampash.s16Notifications.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-9e116</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-9e116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466675687796:ios:feada79a9a2b4d9470cc21</string>
</dict>
</plist>